.root-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-options-panel {

    width: fit-content;
    height: fit-content;
    position: fixed;
    z-index: 10;
    top:3vw;
    right: 10vw;
    border-width: 2px;
    box-shadow: 2px 1px 3px #777777;
}

.display-options-panel-body {
}